# Create 'override.env' with your overrides, for example
CONFIG_SERVER_GIT_URL=https://github.com/YOUR-ACCOUNT/YOUR-CONFIG-REPO
CONFIG_SERVER_GIT_USERNAME=YOUR-USERNAME
CONFIG_SERVER_GIT_PASSWORD=YOUR-PASSWORD
